<h1> אודות </h1>
<p> האגדה מספרת על רב פפא שהיה עשיר 
גדול, ביחד עם היותו אמורא ותלמיד חכם. בכל פעם שהיה 
מסיים מסכת, היה אוסף את עשרת בניו לסעודה גדולה כיד 
המלך. למרות שרב פפא למד ושינן מסכתות תדיר, הוא היה 
מתרגש מחדש, בכל סיום מסכת, כאילו היתה זו המסכת הראשונה 
שסיים בחייו. ומאז, כל יהודי שמסיים מסכת בגמרא, מזכיר את 
עשרת בני פפא, עשרה אמוראים המוזכרים בגמרא בהזדמנויות שונות ששם 
אביהם היה פפא, למרות שאיננו יודעים האם היו אלו באמת 
עשרת בניו של רב פפא עצמו.  </p>
<p> במשך כמה חופשים 
גדולים ניסיתי לקבוע עיתים לתורה, לבד או בחברותא, דרך המחשב. 
האתגר הגדול שהיה לי היה למצוא פורמט נוח ללימוד, כך 
שאוכל להתרכז בקריאה ולא בלחפש איפה הייתי. בניגוד לחומש וספרי 
הלכה, דווקא גמרא לא מצאתי דרך נוחה ללמוד. כך לאט 
לאט דמיינתי לי בראש את הבבלי שאני מחפש, עד שיכולתי 
לראות אותו בבירור במחשבה שלי. בסוף החלטתי לקחת על עצמי 
את המשימה ולבנות מערכת לימוד ש''ס שתהיה נוחה. </p>
<p> בר 
פפא נועד בראש ובראשונה בשבילי, אבל אשמח לזכות את הרבים 
בלימוד נח ומותאם למסך. בנוסף כל הקוד של המערכת מוצע 
ברשיון פתוח כך שמי שרוצה להיעזר בו או ללמוד ממנו 
מוזמן בחום. גם מי שלא בקיא בתכנות, מוזמן להעלות רעיונות 
וביקורות בונות, <a href='?צור_קשר'>צרו איתי קשר</a> ואני מבטיח לענות בהקדם.  
</p>
<p> יהי רצון שנזכה, גם בזכות מערכת בר פפא, לסיים 
עוד מסכתות רבות, ולאהוב את התורה כמו רב פפא ועשרת 
בניו, שכולם היו תלמידי חכמים. </p>