<h1> דף הבית </h1>
<p> ברוכים הבאים לבר פפא. בר פפא 
הוא מערכת אינטרנטית להצגת התלמוד הבבלי בצורה נוחה ומותאמת ללימוד 
דרך האינטרנט. </p>
<p> הגמרא של ש״ס וינא תוכננה ללימוד דרך הדפוס, 
כך שבשביל ללמוד גמרא עם מפרשים צריך להסתכל לאורך הדף, 
וגם להשאר בשורה הנלמדת בגמרא עצמה. בלימוד דרך המחשב, המסך 
הממוצע גבוה הרבה פחות מגמרא בגודל קריא, מה שמקשה על 
לימוד בצורת הדף הנוכחית. אנחנו בבר פפא תכננו במיוחד צורת 
דף שתתאים למסך הרחב, כך שלא רק תהיה באותה הרמה 
של תלמוד בבלי בדפוס, אלא אף תהיה נוחה יותר. </p>

<p> 
אתם מוזמנים להתחיל ללמוד בכמה מהמסכתות כבר עכשיו, כמו 
<a href='?ברכות'> מסכת ברכות</a>, לדוגמא. </p>
<p> בר פפא מציג את הגמרא 
בגדול במרכז המסך, ואת המפרשים בצידו, כך שכל דיבור מתחיל 
יהיה בהמשך השורה של המקום שלו בגמרא. כך אפשר גם 
לקרוא את רצף הגמרא בלי הפרעות, וגם לעיין ברש״י ובתוספות 
בלי לאבד את המקום בדף. ב<a href='?פיצרים'>דף הפיצ׳רים</a> מפורטת שיטת 
בר פפא, על פיה בנויה המערכת.  </p>
<p> בר פפא מאפשר 
לך להתרכז בלימוד הגמרא, בלי הפרעות. </p>