<div class='column' id='tosfot'>
  <%= render partial: 'pirush', collection: @tosfot %>
</div>

<div class='column' id='gmara'>
  <%= render partial: 'gmara', collection: @paragraphs %>
</div>

<div class='column' id='rashi'>
  <%= render partial: 'pirush', collection: @rashi %>
</div>

<%= javascript_tag 'parsePirushes();' %>

