/*
 *= require_self
 *= require_tree .
 */

body {
  direction: rtl;
	font-size: 12px;
	font-family: sans-serif;
	
	background-color: #e9e7e6;
  margin: 0;
}


/* old book style
section {
  background-image: 
    url('crn.jpg'), 
    url('top.jpg'), 
    url('side.jpg'), 
    url('bg.jpg');
  background-repeat: 
    no-repeat,  
    repeat-x, 
    repeat-y, 
    repeat;
  padding: 16px 0 0 113px; /* bg image edges /
}
*/
section {
  background-image: url("bg-crn.png"), url("bg-side.png");
  background-repeat: no-repeat, repeat-y;
  background-color: #FFF6C3;
  
  border-left: 25px solid #700000;
  border-top:  25px solid #700000;
  border-top-left-radius: 15px;
  
  margin-left: 10px;
  padding-left: 25px; /* bg image edges */
}

article {
	max-width: 1300px;
	padding: 8px;
	margin: auto;
}