/*
 *= require_self
 *= require_tree .
 */

p{
  margin-top: 0;
}
h1, h2, h3{
  margin-bottom: 0;
  color: #700000;
}


body {
  direction: rtl;
	font-size: 12px;
	font-family: sans-serif;
	
	background-color: #e9e7e6;
  margin: 0;
}
section {
  border-left: 10px solid #700000;
  padding-top: 30px;
  
  margin-top:-4px; /* unknown-bug fix */
}
article {
	max-width: 1300px;
	margin: auto;
}

footer {
    background-color: #301616;
    color: #FFFFFF;
    padding: 20px 10px;
    
    border-left: 10px solid white;
}