<div id='logo'>
  <a href="#"><%= image_tag 'logo.png' %></a>
</div>
<nav>
  <ul>
    <li><a href="#">פתח דף גמרא ▾</a></li>
    <li><a href="#">ספר לי מה דעתך</a></li>
    <li><a href="#">אודות בר־פפא</a></li>
  </ul>
</nav>